<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="messageRenderer" class="kz.zhelezyaka.spring.MessageRenderer">-->
    <!--<constructor-arg name="text" value="I love Spring!"/>-->
    <!--</bean>-->
    <bean id="independentRenderer" class="kz.zhelezyaka.spring.IndependentMessageRenderer">
        <constructor-arg name="renderer" ref="renderer"/>
    </bean>
    <bean id="renderer" class="kz.zhelezyaka.spring.MessageRendererStandartImpl">
        <constructor-arg name="message" ref="message"/>
    </bean>
    <bean id="message" class="kz.zhelezyaka.spring.HelloMessage">
        <constructor-arg name="text" value="Spring!"/>
    </bean>
</beans>