<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean id="messageRenderer" class="kz.zhelezyaka.spring.MessageRenderer">-->
    <!--<constructor-arg name="text" value="I love Spring!"/>-->
    <!--</bean>-->
    <context:component-scan base-package="kz.zhelezyaka.spring"/>
    <bean id="independentRenderer" class="kz.zhelezyaka.spring.IndependentMessageRenderer"/>
    <bean id="renderer" class="kz.zhelezyaka.spring.MessageRendererStandartImpl">
        <constructor-arg name="message" ref="message"/>
    </bean>
    <bean id="message" class="kz.zhelezyaka.spring.HelloMessage">
        <constructor-arg name="text" value="Spring!"/>
    </bean>
</beans>